$mainTextColorBlack: rgb(26, 26, 26);
$mainTextColorWhite: rgb(255, 255, 255);
$mainTextColorRed: rgb(255, 0, 0);

$backgroundColorWhite: rgb(255, 255, 255);
$backgroundColorLightGrey: rgb(237, 238, 242);
$backgroundColorGrey: rgb(184, 185, 188);
$backgroundColorBlack: rgb(0, 0, 0);

$linkColorPurple: rgb(136, 142, 252);
$linkHoverColorPurple: rgb(83, 91, 242);