@import '/src/styles/colors.scss';
@import '/src/styles/layout.scss';

.header {
  padding: 1.5rem;

  border-bottom: 1px solid $backgroundColorGrey;
  box-shadow: 0 -6px 10px 5px $backgroundColorGrey;
}

.title {
  font-size: 1.5rem;
}

.subtitle {
  font-size: 0.9rem;
  font-weight: 400;
}

@media only screen and (min-width: $tablet-mid-start) {
  .header {
    padding: 1.5rem 2.5rem;
  }

  .title {
    font-size: 2.5rem;
  }

  .subtitle {
    font-size: 1.2rem;
  }
}